*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
   
}
p{

    color:#fff;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

.logo{
    Width:583px;
    Height:374px;
    display: block;
    margin: 15% auto 50px;
    
}

.box-input{
    display:flex ;
    justify-content: center;
    flex-direction: column;

}
div{
    display: flex;
    justify-content: center;
    gap: 10px 30px ;
    margin-bottom: 20px;
}
.valor1,.valor2{
    width: 342px;
    height: 70px;
    border-radius: 14px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

.botao{
   background-color:#AEC346;
   width: 250px;
   color: #fff;
   height: 52px;
   border-radius: 10px;
   font-size: 36px;
   display: block;
   margin: 0 auto;
   cursor: pointer;

}